<div class="container" style="margin-top: 20px;">
    <h4 style="text-align: center">TRACK YOUR ORDER  <i class="fa fa-dropbox" aria-hidden="true"></i></h4>
    <hr><br>
    <div class="container">
    <div class="row">
      <div class="col-3 text-center" >
        <input type="text" class="form-control" placeholder="Enter Tracking Number" [(ngModel)]="search" >
      </div>
      <br>
      <div class="offset-col-7 col-4 text-center">
        <button class="btn btn-primary" (click)="track()" style="width: 150px;" >Track</button>
      </div>
    </div>
  </div>
    <br><br>
    <div style="height: 100%; width: 100%;" *ngIf="order">
      <div *ngIf="order.length !== 0">
          
  
            <h4>Order ID: {{order[0].orderid}}</h4>
          
            <h4>Destination: {{order[0].to}}</h4>
            <table *ngIf="tracking"  class="table align-items-center">
              <thead class="thead-light">
                <tr>
                  <th>Status</th>
                  <th>Date</th>
                  <th>Time</th>
                  <th>Location</th>
                  <th>Remarks</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of tracking.status">
                  <td>{{item.status}}</td>
                  <td>
                    {{item.date}}
                  </td>
                  <td>{{item.time}}</td>
                  <td>{{item.location}}</td>
                  <td>{{item.remarks}}</td>
                </tr>
              </tbody>
            </table>
      </div>
      <div class="container" *ngIf="order && order.length === 0">
        <div class='row'>
          <div class="col-md-12  text-center" style="text-align: center !important">

            <div class="text-center">
                <img src="./assets/images/empty.png" class="img-responsive img-thumbnail" style="border:transparent" alt="">  

            </div>
              <br><br>
              <h3 sty>No Order Found :( ...</h3>
         <br><br>
          </div>
        </div>
     
        </div>
    </div>
    </div>

    <br>

    <div class="services two">
      <div class="container">
        <div class="agile_inner_grids">	
          <div class="col-md-6 wthree_services_grid_left">
            <h3> Track Your <span>Order</span> </h3>
            <h4>Why Choose Us</h4>
            <p> Sed quis eleifend leo. Phasellus iaculis, 
              metus facilisis gravida dapibus, ligula dolor placerat dolor, eget 
              cursus neque risus quis tortor varius augue ut mauris condimentum dictum.</p>
              <p> Sed quis eleifend leo. Phasellus iaculis, 
              metus facilisis gravida dapibus, ligula dolor placerat dolor, eget 
              cursus neque risus quis tortor varius augue ut mauris condimentum dictum.</p>
            
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
    </div>