

 @media only screen and (min-width: 768px) {
/* for Desktops */
    .mainhead{
        font-size:80px;
        font-family: fjalla;
     }
     .minihead{
      font-size:50px;
      font-family: fjalla;
   }
     .mat-form-field{
        min-width: 300px !important;
        display: inline-block !important;
     }
     .booknow{
         width:300px;
         height:40px
     }
     .booknow:disabled{
         background-color:rgba(163, 163, 163, 0.637);
         border:1px;
         border-style: dashed;
         color:rgba(0, 0, 0, 0.534);
     }
 }

 
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
 
    .mainhead{
        font-size:30px
     }
     .minihead{
      font-size:15px;
      font-family: fjalla;
   }
     .mat-form-field{
        /* min-width: 300px !important; */
        display: inline-block !important;
     }
    

     .btnx2 {
      flex: 1 1 auto;
      margin: 10px;
      width: 160px !important;
      font-size:12px;
      text-align: center;
      text-transform: uppercase;
      transition: 0.5s;
      background-size: 200% auto;
      color: white;
     /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
      box-shadow: 0 0 20px #eee;
      border-radius: 10px;
      font-family: panlanquin-bold;
     }
    
  }

  .fjalla{
    font-family: fjalla;
  }
  .panq-bold{
  font-family: panlanquin-bold;

  }
  .panq-light{
    font-family: fjalla;

  }

  .classx{
      background-color:rgba(128, 128, 128, 0.028);
      padding:20px;
  }

  .magin-bottom{
  }



  /* <- Magic Stuff Start */
.btnx {
  flex: 1 1 auto;
  margin: 10px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
 /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  font-family: panlanquin-bold;
 }

 .btnx2 {
  flex: 1 1 auto;
  margin: 10px;
  padding: 20px;
  width: 300px;
  font-size:22px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
 /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  font-family: panlanquin-bold;
 }

.btn:hover {
    background-position: right center; /* change the direction of the change here */
  }
  
  .btn-1 {
    background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
  }
  
  .btn-2 {
    background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
  }
  
  .btn-3 {
    background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
  }
  
  .btn-4 {
    background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
  }
  
  .btn-5 {
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 51%, #ffecd2 100%);
  }


  .maincolor{
    color: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);

  }


  