<div class="containerr" style="max-height: 600px !important;">
    <div class="form1" *ngIf="showForm" [@hideForms]="currentState">
      <h3>Sender Information</h3>
      <hr style="max-width: 522px !important;">
        <form [formGroup]="form" class="modalForm">
    
            <mat-form-field class="form-full-width">
              <input type="text" matInput placeholder="Sender Name *" formControlName="sendername" #sendername>
              <mat-icon matSuffix>contact_phone</mat-icon>
            </mat-form-field>
            <div class="form-full-width">
              <mat-form-field class="field" style="width: 227px !important;">
                  <input type="text" matInput placeholder="Phone Code" formControlName="phonecode" #phonecode readonly>
              </mat-form-field>
              <span style="margin-left: 20px !important;"></span>
              <mat-form-field class="field">
                <input type="number" matInput placeholder="Phone number" formControlName="phone" #phone>
              </mat-form-field>
            </div>
            <div class="form-full-width">
                <mat-form-field class="field" style="width: 227px !important;">
                    <input type="text" matInput placeholder="City *" formControlName="city" #city readonly>
                </mat-form-field>
                <span style="margin-left: 20px !important;"></span>
                <mat-form-field class="field">
                  <input type="text" matInput placeholder="Region *" formControlName="region" #region>
                </mat-form-field>
            </div>
            <mat-form-field class="form-full-width">
                <input type="text" matInput placeholder="Street" formControlName="street" #street>
            </mat-form-field>
            <div class="form-full-width">
                <mat-form-field class="field" style="width: 227px !important;">
                    <input type="text" matInput placeholder="Building / Villa *" formControlName="building" #building>
                </mat-form-field>
                <span style="margin-left: 20px !important;"></span>
                <mat-form-field class="field">
                  <input type="text" matInput placeholder="Apartment / Office *" formControlName="office" #office>
                </mat-form-field>
            </div>
            <mat-form-field class="form-full-width">
                <mat-select placeholder="Address Type *" formControlName="addresstype" #addresstype>
                    <mat-option value="Residential">Residential</mat-option>
                    <mat-option value="Bussiness" >Bussiness</mat-option>
                  </mat-select>
            </mat-form-field>
            <mat-form-field class="form-full-width">
                <input type="text" matInput placeholder="Nearest Landmark" formControlName="nearestlandmark" #nearestlandmark>
            </mat-form-field>
          </form>
    </div>
    <div class="form2" *ngIf="showForm1" [@hideForms]="currentState1" >
        <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3">
                    <button mat-button (click)="back()"  ><mat-icon style="color: #A0D08E;">arrow_back</mat-icon></button>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-8">
                    <h3>Recipient Information</h3>
            </div>
        </div>
        <form [formGroup]="form1" class="modalForm">
    
            <mat-form-field class="form-full-width">
              <input type="text" matInput placeholder="Recipient Name *" formControlName="recipientname" #recipientname>
              <mat-icon matSuffix>contact_phone</mat-icon>
            </mat-form-field>
            <div class="form-full-width">
              <mat-form-field class="field" style="width: 227px !important;">
                  <input type="text" matInput placeholder="Phone Code" formControlName="phonecode" #phonecode readonly>
              </mat-form-field>
              <span style="margin-left: 20px !important;"></span>
              <mat-form-field class="field">
                <input type="number" matInput placeholder="Phone number" formControlName="phone" #phone>
              </mat-form-field>
            </div>
            <div class="form-full-width">
                <mat-form-field class="field" style="width: 227px !important;">
                    <input type="text" matInput placeholder="City *" formControlName="city" #city readonly>
                </mat-form-field>
                <span style="margin-left: 20px !important;"></span>
                <mat-form-field class="field">
                  <input type="text" matInput placeholder="Region *" formControlName="region" #region>
                </mat-form-field>
            </div>
            <mat-form-field class="form-full-width">
                <input type="text" matInput placeholder="Street" formControlName="street" #street>
            </mat-form-field>
            <div class="form-full-width">
                <mat-form-field class="field" style="width: 227px !important;">
                    <input type="text" matInput placeholder="Building / Villa *" formControlName="building" #building>
                </mat-form-field>
                <span style="margin-left: 20px !important;"></span>
                <mat-form-field class="field">
                  <input type="text" matInput placeholder="Apartment / Office *" formControlName="office" #office>
                </mat-form-field>
            </div>
            <mat-form-field class="form-full-width">
                <mat-select placeholder="Address Type *" formControlName="addresstype" #addresstype>
                    <mat-option value="Residential">Residential</mat-option>
                    <mat-option value="Bussiness" >Bussiness</mat-option>
                  </mat-select>
            </mat-form-field>
            <mat-form-field class="form-full-width">
                <input type="text" matInput placeholder="Nearest Landmark" formControlName="nearestlandmark" #nearestlandmark>
            </mat-form-field>
          </form>
      </div>
    <div class="form3" *ngIf="showForm2" style="position: relative; top: -23px !important; max-height: 590px !important; bottom: 30px !important;">
            <div class="row">
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3">
                            <button mat-button (click)="back()"  ><mat-icon style="color: #A0D08E;">arrow_back</mat-icon></button>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-8">
                            <h3>What size do you want</h3>
                        </div>
                </div>
        <div id="boxes" style="max-height: 130px !important;">
          <button mat-mini-fab id="left"><mat-icon style="color: black; background-color: #ffffff !important;" (click)="previousBox()" >keyboard_arrow_left</mat-icon></button>
          <div id="box">
            <div id="inner">
               <p>{{selected?.text}}</p>
            <img src="{{selected?.image}}" alt="box">
            </div>
           
          </div>
          
          <button mat-mini-fab id="right"><mat-icon style="color: black; background-color: #ffffff !important;" (click)="nextBox()" >keyboard_arrow_right</mat-icon></button>
  
          </div>
          <hr>
  
          <form [formGroup]="form2" >
              <div class="form-full-width">
                  <mat-form-field  style="width: 120px !important;">
                      <input type="number" matInput placeholder="Length" formControlName="length" #length min="0">
                  </mat-form-field>
                  <mat-hint>cm</mat-hint>
  
                  <mat-form-field style="width: 120px !important; margin-left: 40px !important;">
                      <input type="number" matInput placeholder="Width" formControlName="width" #width>
                      
                  </mat-form-field>
                  <mat-hint>cm</mat-hint>
                  <mat-form-field style="width: 120px !important; margin-left: 40px !important;">
                      <input type="number" matInput placeholder="Height" formControlName="height" #height>
                  </mat-form-field>
                  <mat-hint>cm</mat-hint>
              </div>

              <mat-form-field class="form-full-width">
                <input type="number" matInput placeholder="Actual Weight" formControlName="actualweight" #actualweight min="0">
              </mat-form-field>
            <p><strong>Chargable Weight:</strong><span style="float: right !important;"><strong>{{form2.value.chargableweight}} Kg</strong></span></p>
          
                  <!-- <mat-checkbox class="example-margin" [(ngModel)]="terms">Terms & Conditions</mat-checkbox>
                  <br>
                  <mat-checkbox  [(ngModel)]="prohibit">No Prohibited Products</mat-checkbox> -->
          </form>
  
  
      </div>
      <div class="form3" *ngIf="showForm3">
            <div class="row">
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3">
                            <button mat-button (click)="back()"  ><mat-icon style="color: #A0D08E;">arrow_back</mat-icon></button>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-8">
                            <h3>Additional Info</h3>
                        </div>
                </div>
                <br>
            <form [formGroup]="form2">
                  <div class="row">
                    <div class="col-md-5">
                        <br>
                        <p class="small"  >Item Value (in AED):</p>
                    </div>
                    <div class="col-md-7">
                    <mat-form-field >
                        <input type="number" matInput placeholder="Item Value"  formControlName="itemvalue" #itemvalue min="0">
                        <mat-error *ngIf="itemvalue.value === 0 ">Enter Item Value</mat-error>
                    </mat-form-field>
                    </div>
    
                  </div>
                  <div class="row">
                      <div class="col-md-5">
                          <br>
                            <p class="small" >Item Description:</p>
                        </div>
                        <div class="col-md-7">
                      <mat-form-field >
                          <input type="text" matInput placeholder="Item Description"  formControlName="itemdescription" #itemdescription>
                      </mat-form-field>
                      </div>
      
                    </div>
                    <div class="row">
                            <div class="col-md-5">
                                <br>
                                          <p class="small" >Units:</p>
                                        </div>
                                        <div class="col-md-7">
                        <mat-form-field >
                            <input type="number" matInput placeholder="Item Description" min="1"  formControlName="units" #units>
                        </mat-form-field>
                        </div>
        
                      </div>
                      <div class="row">
                            <mat-checkbox class="example-margin" formControlName="pickup" #pickup>Door to Door Service. <small>( AED {{pickupCharg?.charges}})</small></mat-checkbox>

                      </div>
                      <br>
            </form>
      </div>
      <div class="form4" *ngIf="showSpinner">
        <app-spinner style="position: relative; left: 40%;" ></app-spinner> 
      </div>

      <div class="classform5" *ngIf="showForm4">
        <div class="container-fluid" (click)="fromSection()" style="cursor: pointer;">
           <div class="row">
               <div class="col-md-2">
                    <h4>From:</h4>
               </div>
               <div class="col-md-10">
                   <div class="row">
                       <div class="col-md-12">
                           <h5>{{newOrder?.sender[0].sendername}}</h5>
                       </div>
                   </div>
                   <div class="row">
                       <div class="col-md-12">
                           <p>{{newOrder?.sender[0].office + newOrder?.sender[0].building}}, {{newOrder?.sender[0]?.street + newOrder?.sender[0].region}},
                            {{newOrder?.sender[0].city}}, {{newOrder?.sender[0].country}}    
                        </p>
                       </div>
                   </div>
               </div>
           </div>
        </div>
        <hr>
        <div class="container-fluid" (click)="toSection()" style="cursor: pointer;">
            <div class="row">
                <div class="col-md-2">
                     <h4>To:</h4>
                </div>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-12">
                            <h5>{{newOrder?.recipient[0].recipientname}}</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p>{{newOrder?.recipient[0].office + newOrder?.recipient[0].building}}, {{newOrder?.recipient[0]?.street + newOrder?.recipient[0].region}},
                                {{newOrder?.recipient[0].city}}, {{newOrder?.recipient[0].country}}    
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            
         </div>
         <div class="container-fluid" (click)="shipmentDetails()" style="cursor:pointer;" >
                <hr>
                <div class="row">
                    <div class="col-md-4">
                        <h4>Shipment Details:</h4>
                    </div>
                    <div class="col-md-8">
                            <div class="row">
                                    <div class="col-md-12"><p class="small">Item Description: {{newOrder.shipment[0].itemdescription}}</p></div>
                                </div>
                        <div class="row">
                            <div class="col-md-12"><p class="small">Weight: {{newOrder.shipment[0].chargableweight}}</p></div>
                        </div>
                    </div>
                </div>
         </div>
         <hr>
         <h4>Total: <span style="position: relative; right: 0px !important;">AED {{newOrder.total}}</span></h4>

         <br>

         <form [formGroup]="form3">
            <div class="row">
                <mat-checkbox class="example-margin" formControlName="terms" >I Accept Terms & Conditions.</mat-checkbox>
    
             </div>
             <div class="row">
                <mat-checkbox class="example-margin" formControlName="illegal" >No Prohibited Item.</mat-checkbox>
    
             </div>
    
             <div class="row">
                 <div class="col-6">
                    <button mat-button color="warn" style="width: 100% !important; outline: 0;" (click)="cod()" [disabled]="form3.pristine || !form3.value.terms || !form3.value.illegal" >Cash on Delivery</button>
                 </div>
                 <div class="col-6">
                    <button mat-button color="warn" style="width: 100% !important; outline: 0" (click)="pay()" [disabled]="form3.pristine || !form3.value.terms || !form3.value.illegal" >Pay Now</button>
                 </div>
             </div>
         </form>

         

    </div>
    <div *ngIf="showError">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3">
                            <button mat-button (click)="back()"  ><mat-icon style="color: #A0D08E;">arrow_back</mat-icon></button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3>Unfortunately, we couldn't get the right price for your order. Please Contact us at <a routerLink="/contact-us">here.</a></h3>
                    <h3>Thank you.</h3>
                </div>
            </div>
        </div>
    </div>
  <div id="checkButton" *ngIf="!showForm4 && !showSpinner && !showError">
      <button mat-mini-fab (click)="next()" ><mat-icon style="color: #A0D08E;">done</mat-icon></button>
  </div>
  </div>